<p>Listado de Heroes</p>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">{{ i+1 }} - {{ heroe }}</li>
</ul>

<div *ngIf="heroeBorrado.length > 0; else noBorrado">
    <h3>Héroe Borrado</h3>
    <span> {{ heroeBorrado }}</span>
</div>

<ng-template #noBorrado>
    <h3>Héroe No Borrado</h3>
</ng-template>

<button (click)="borrarHeroe()">Borrar</button>